$headerBackground: url(../img/header_background_v2.jpg);

$fontStyle: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;

$contentBackground: #EFEFEF;
$articleBackground: #FFFFFF;

$buttonColor: #FFFFFF;
$buttonBackground: #0401AC;

$menuBorderColor: #d0d9dd;
$headerTextColor: #f1561d;

$mainTextColor: #757575;
$titleColor: #5f7e8c;
$articleInfoColor: #bec5d5;

$articleSaperatorColor: #d0d9dd;

$borderColor: #d0d9dd;