$headerBackground: url(../img/header_background_v1.jpg);

$fontStyle: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;

$contentBackground: #FFFFFF;
$articleBackground: #EFEFEF;

$buttonColor: #FFFFFF;
$buttonBackground: #01ACAC;

$menuBorderColor: #5f7e8c;
$headerTextColor: #ffffff;

$mainTextColor: #000;
$titleColor: #00aeae;
$articleInfoColor: #ea0000;

$articleSaperatorColor: #5f7e8c;

$borderColor: #5f7e8c;